body{
    background-color: rgb(73, 73, 73);
}
#avancar{

    position: absolute;

    left: 60em;
    top: 20em;

    width: 50px;
    height: 50px;
}
#retroceder{
    
    position: absolute;

    top: 20em;

    width: 50px;
    height: 50px;
}
#slider {
    width: 60vw;
    display: flex;
    height: 100vh;
}

#slider img{

    border-radius: 15px;
    width: 502px;
    height: 610px;
}
#slider img.primeira-imagem{

    position: absolute;
    top: 1.5em;
    left: 10em;

}
#slider img.segunda-imagem{

    position: absolute;
    top: 3em;
    left: 20em;

    width: 438.27px;
    height: 563.24px;

}
#slider img.terceira-imagem{

    position: absolute;
    top: 5em;
    left: 25em;

    width: 438px;
    height: 511px;
}



